:root {
  --white: #ffffff;
  --general-blue: #3470ff;
  --general-blue-active: #0b44cd;

  --black-filter: #121417;
  --no-choice-filter: rgba(18, 20, 23, 0.2);
  --border-filter: #f7f7fb;
  --color-filter: #8a8a89;

  --description-card: rgba(18, 20, 23, 0.5);
  --border-description-card: rgba(18, 20, 23, 0.1);

  --modal-accent-bg: #f9f9f9;
  --modal-accent-text: #363535;
  --gradient-img: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    lightgray 50%;
}
